<div class="page-topper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-last">
        <div class="card card-player-lg">
          <div class="playerlogoholder">
            <div>
              <picture class="playerlogo">
                <source type="image/webp" srcset="../img/dummy/ava-lg.jpg">
                <img src="../img/dummy/ava-lg.jpg" alt="LOGO">
              </picture>
              <picture class="teamlogo-sm">
                <source type="image/webp" srcset="../img/dummy/team.png">
                <img src="../img/dummy/team.png" alt="LOGO">
              </picture>
            </div>
          </div>
          <table class="tinfo table table-sm">
            <tr>
              <th>Призовые места</th>
              <td>
                <span class="plc pl1" title="Колличество первых мест" data-toggle="tip">23</span>
                <span href="#" class="plc pl2" title="Колличество вторых мест" data-toggle="tip">2</span>
                <span href="#" class="plc pl3" title="Колличество третьих мест" data-toggle="tip">43</span>
              </td>
            </tr>
            <tr>
              <th>Имя</th>
              <td>Vladislav Fomin</td>
            </tr>
            <tr>
              <th>Возраст</th>
              <td>-</td>
            </tr>
            <tr>
              <th>Страна</th>
              <td>Europe
                <img class="flag float-right" src="../img/dummy/{{random(flag)}}.png" alt="">
              </td>
            </tr>

            <tr>
              <th>Команда</th>
              <td>
                95 / <span class="text-muted">691</span>
                <i title="хелптекст" class="tip float-right" data-toggle="tip"></i>
              </td>
            </tr>
            <tr>
              <th>Роль</th>
              <td>-</td>
            </tr>
            <tr>
              <th>Заработано</th>
              <td>
                $325K / <span class="text-muted">$17.6M</span>
                <i title="хелптекст" class="tip float-right" data-toggle="tip"></i>
              </td>
            </tr>
            <tr>
              <th>Всего игр </th>
              <td>
                38 / <span class="text-muted">17</span>
                <i title="хелптекст" class="tip float-right" data-toggle="tip"></i>
              </td>
            </tr>
          </table>
          <div class="sbscr">
            <a href="#" class="btn btn-warning btn-sbscr shadow-sm">Подписаться <span>234 фанов</span> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="hblock">
          <h1>BOSS <small>Amer al-Barqawi</small></h1><b></b>
        </div>
        <div class="tourdescription">
          <p>
            <strong>Amer «Boss» al-Barqawi</strong> is the mider for Vega Squadron. He was previously known as
            Aman.
          </p>
        </div>
        <div class="hblock">
          <h2>Статистика Boss</h2><b></b>
        </div>

        <div class="hsherostat listvar">
          <ul>
            {% for i in 1..1 %}
            <li>
              <div class="hshero collapsed" data-toggle="collapse" href="#collapseExample{{i}}" role="button">
                <div class="hsheroico" style="background-image: url(
                    {{random([
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_warrior-fe3e66592446de8a5d34f30599de3ace8c0a65968e260f05654094f3fdd9455847c85eec5ae20201a598fe96b93a13c51df0993164bc0792774eba2f13c395d1.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_demonhunter-bfa01786ee3c22c8b2c60c6c679a9e212d0a2a737c6168bf5563357943eb7a4d37322672377b4ed4e4b0f6a64df52de2be7c89d0c6923e230514256f4460c386.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_rogue-4a04957d59d4191f9efbe5e1daaf45eb82dc5b035d2c8ce3cb47a31b145e1250c319111a27f69b066199d17f7a915777a8d1af5e0a87bab4451185cfda20fe20.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_paladin-b9092f38f4a1421c5899932f765a80cf45ac73ecccb8c9bbcf67ec1d85ac8ae0f849a24b60d4fd19e8db64e2f991ba0123d210484f2ec8beb93a4a4a4a72b690.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_priest-93bbc19811732f7c4d3804371c0023a1ce57497a34c68e2f5ac020c3987fb310ae2eb5c60520cfd6070b47f4d9503a67d0947cd47bcb63584b4f126c50337785.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_hunter-ef27ec5fd8d6780fed15337a45ec524b68f2de7100b210eecd4e40b36572d2c85f98fa29fe9da278ae326e4b18d157e3b5d2addc66a7ce79ae62800001dd45b6.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_shaman-9e252421bbee86e830faac236f20b533cfecf5259096786f6e749b800ad3c358ab34b6e72431ce45d34ecf2b0d33acec1ac55ffb1a66f465a27b5ab4c7af213a.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/icons/class/icon_class_warlock-25740b0eaaa5775502865633dee612da159545390508b6e63b978796e768bd41ce4004c926d9050fac912a012a86ce3dd2da10dccd062dae4abea4e84c2d3b43.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/icons/class/icon_class_mage-1225102ed2cd41c8ce5d4eb05aae3e9a828e5c79770e1dbc380a6e37b784969506aaedb0f2a832bd9a4218b4e8c0e5ac3e148b263627f5f2c69bf5d18230109e.png',
                      'https://d2q63o9r0h0ohi.cloudfront.net/images/icons/class/icon_class_druid-ecb441c29d0acfcdf249d0937093ef7591c47fd5edde8378e077d6910476765be5b7a69baf96c2e46593ccea335833d642fe025d314c9094b3156450c1d6cfc8.png',
                    ])}}
                  );">
                </div>
                <span>{{random(["Охотник на
                  демонов","Друид","Охотник","Маг","Палладин","Жрец","Разбойник","Шаман","Чернокнижник","Воин"])}}</span>
                <!-- <b title="Побед / игр">{{random(100)}}% / {{random(80)}}</b> -->
                <div class="pline slim">
                  <div class="progress">
                    <div class="progress-bar bg-success" title="80%" role="progressbar" style="width: {{100 - i * 5}}%"
                      aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                  <u>{{100 - i * 5}}% / {{50 - i * 3}}</u>
                </div>
              </div>
              <div class="collapse" id="collapseExample{{i}}">
                <div class="card card-body">
                  {% include "../../tpl/spiderHS2.html" %}
                  <table class="table table-hover table-sm"> 
                    <thead>
                      <tr>
                        <th scope="col">турнир</th>
                        <th scope="col"></th>
                        <th scope="col">винрейт</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for j in 1..10 %}
                      <tr>
                        <td>{{random(["Masters Tour 2021 Orgrimmar","World Championship 2020","Battleriff Invitational
                          3","Grandmasters 2020 Season 2 Asia-Pacific","Czech Masters Summer 2020","Masters Qualifiers
                          2020
                          Montreal",])}}</td>
                        <td><a href="#">колода</a></td>
                        <td>{{random(100)}}% / {{random(80)}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% include "../../tpl/pager.html" %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        {#
        <div class="hsherostat">
          {% for i in 1..10 %}
          <div class="hshero collapsed" data-toggle="collapse" href="#collapseExample" role="button">
            <div class="hsheroico" style="background-image: url(
                {{random([
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_warrior-fe3e66592446de8a5d34f30599de3ace8c0a65968e260f05654094f3fdd9455847c85eec5ae20201a598fe96b93a13c51df0993164bc0792774eba2f13c395d1.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_demonhunter-bfa01786ee3c22c8b2c60c6c679a9e212d0a2a737c6168bf5563357943eb7a4d37322672377b4ed4e4b0f6a64df52de2be7c89d0c6923e230514256f4460c386.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_rogue-4a04957d59d4191f9efbe5e1daaf45eb82dc5b035d2c8ce3cb47a31b145e1250c319111a27f69b066199d17f7a915777a8d1af5e0a87bab4451185cfda20fe20.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_paladin-b9092f38f4a1421c5899932f765a80cf45ac73ecccb8c9bbcf67ec1d85ac8ae0f849a24b60d4fd19e8db64e2f991ba0123d210484f2ec8beb93a4a4a4a72b690.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_priest-93bbc19811732f7c4d3804371c0023a1ce57497a34c68e2f5ac020c3987fb310ae2eb5c60520cfd6070b47f4d9503a67d0947cd47bcb63584b4f126c50337785.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_hunter-ef27ec5fd8d6780fed15337a45ec524b68f2de7100b210eecd4e40b36572d2c85f98fa29fe9da278ae326e4b18d157e3b5d2addc66a7ce79ae62800001dd45b6.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_class_shaman-9e252421bbee86e830faac236f20b533cfecf5259096786f6e749b800ad3c358ab34b6e72431ce45d34ecf2b0d33acec1ac55ffb1a66f465a27b5ab4c7af213a.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/icons/class/icon_class_warlock-25740b0eaaa5775502865633dee612da159545390508b6e63b978796e768bd41ce4004c926d9050fac912a012a86ce3dd2da10dccd062dae4abea4e84c2d3b43.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/icons/class/icon_class_mage-1225102ed2cd41c8ce5d4eb05aae3e9a828e5c79770e1dbc380a6e37b784969506aaedb0f2a832bd9a4218b4e8c0e5ac3e148b263627f5f2c69bf5d18230109e.png',
                  'https://d2q63o9r0h0ohi.cloudfront.net/images/icons/class/icon_class_druid-ecb441c29d0acfcdf249d0937093ef7591c47fd5edde8378e077d6910476765be5b7a69baf96c2e46593ccea335833d642fe025d314c9094b3156450c1d6cfc8.png',
                ])}}
              );">
            </div>
            <span>{{random(["Охотник на
              демонов","Друид","Охотник","Маг","Палладин","Жрец","Разбойник","Шаман","Чернокнижник","Воин"])}}</span>
            <b title="Побед / игр">{{random(100)}}% / {{random(80)}}</b>
          </div>
          {% endfor %}
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            {% include "../../tpl/spiderHS2.html" %}
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">турнир</th>
                  <th scope="col"></th>
                  <th scope="col">винрейт</th>
                </tr>
              </thead>
              <tbody>
                {% for i in 1..10 %}
                <tr>
                  <td>{{random(["Masters Tour 2021 Orgrimmar","World Championship 2020","Battleriff Invitational
                    3","Grandmasters 2020 Season 2 Asia-Pacific","Czech Masters Summer 2020","Masters Qualifiers 2020
                    Montreal",])}}</td>
                  <td><a href="#">колода</a></td>
                  <td>{{random(100)}}% / {{random(80)}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include "../../tpl/pager.html" %}
          </div>
        </div>
        #}
        {#
        <div class="radialchart">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                {% include "../../tpl/spiderHS.html" %}
              </div>
            </div>
          </div>
        </div>
        #}
      </div>

    </div>
  </div>

</div>