/*
  Top Bar
*/

header .navbar.navbar-dark {
  background-color: #0f1f30 !important;
  background-image: url(/img/barbg.jpg);
  padding: 0;
  box-shadow: 0 0.15rem rgba(0, 0, 0, 0.1);
  position: fixed;
  -webkit-box-pack: justify;

  .lefter {
    display: flex;
    flex-grow: 1;
    align-content: flex-start;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0 .6em;
    margin-left: -.2rem;
    margin-right: 0;
    width: 9rem;
    float: left;
    margin-left: .3rem;

    @media (max-width: $md) {
      margin-left: 0;
    }
    @media (max-width: 470px) {
      height: 2.4rem;
      margin: 0 .1rem;
      padding-right: 0;
      padding-left: 0;
      padding-top: 10px;
      width: 1.4rem;
      display: block;
      overflow: hidden;
  
      img{
        width: 96px;
      }
    }
  }

  .dropers {
    display: inline-block;

    @media (max-width: $md) {
      .dropdown{
        position: inherit;
      }
    }

    .s-lang {
      display: inline-block;
    }

    .dropdown-toggle:after {
      vertical-align: 0.1rem;
      margin-top: 0.7rem;
      transform: skewX(14deg);
    }

    .s-time {
      display: inline-block;

      .dropdown-menu {
        width: 10rem;

        .dropdown-item {
          font-size: 0.67rem;
        }
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      background: #304661;
      // border-top: 0.3rem solid $select;
      padding: 0;
      max-height: 30rem;
      overflow-x: auto;
      border-radius: 0 0 3px 3px;

      &.dropdown-menu-right {
        right: 3px;
      }

      &:before {
        content: "";
        display: block;
        border-width: 0.5rem;
        border-color: $select;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-style: solid;

        position: absolute;
        top: -1.2rem;
        right: 0.5rem;
      }

      .dropdown-item {
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.7rem;
        text-transform: none;
        padding: 0.3rem 1rem;
        border-bottom: 1px solid hsla(0, 0%, 80%, 0.1);
        opacity: 0.7;
        transition: $tease;

        &.active,
        &:active,
        &.focus,
        &:focus {
          //color: $select;
          //background: rgb(36, 50, 63);
          color: $select-sub;
          background: transparent;
          text-decoration: none;
          opacity: 1;
        }

        &.hover,
        &:hover {
          //color: $select;
          //background: rgb(36, 50, 63);
          color: $select-sub;
          background: $select;
          text-decoration: none;
        }
      }

      .dropdown-divider {
        margin: 0;
        border-top: 1px solid #3b5d7e;
      }
    }
  }

  .nav-link {
    color: #7FAEC3;
    text-transform: uppercase;
    font-size: .75rem;
    padding: .64rem .4rem;
    margin: 0;

    &.active,
    &:hover {
      color: $select !important;
    }
  }
  .mr-auto{
    .nav-link {
      margin: 0 .5rem;
    }
  }
  .active .nav-link {
    box-shadow: 0 2px 0 #f14800 inset;
  }

  .navbar-toggler {
    border: 0;
    padding: 0.25rem;
    float: left;
    &:focus {
      outline: none;
      color: #fff !important;
      opacity: 1;
    }
  }

  .navbar-toggler-icon {
    background-size: 71%;
    color:#7faec3;
  }

  .navbarOpener {
    display: none;
    opacity: 0;
    align-content: flex-start;
    float: left;
  }

  .mainMenu {
    position: relative;
    margin-right: .5rem;
    padding: 0;

    .nav-item {
      display: flex;
      align-items: center;
      &:first-child {
        //margin-right: 0.9rem;
      }
    }

    // &:after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   right: -7px;
    //   width: 1px;
    //   height: 100%;
    //   background: #7faec3;
    //   transform: skewX(-14deg);
    //   opacity: 0.5;
    // }

    > .nav-item > .nav-link {
      font-weight: 700;
      padding-right: 0.8rem;
      padding-left: 0.8rem;
    }
  }

  .barAccount {
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    margin: 0 !important;

    .cog-btn {
      display: flex;
      align-items: center;
      margin-top: -1px;
      padding: 0.1rem 0;
    }

    .srch-filter {
      display: flex;
    }
    
    .srch-filter span {
        font-size: 11px;
        padding-left: 15px;
        color: #96aebb;
    }

    .bar-icon {
      font-size: 1rem;
      padding: 0.1rem 0;
      display: flex;
      vertical-align: middle;
      color: #4e6c7f;
      line-height: 2rem;

      &.show button{
        color: $select;
        background: #304661;
        &:focus{
          outline: 0;
        }
      }

      .bar-btn {
        margin-top: -1px;
        display: flex;
        align-content: center;
        align-items: center;
        text-decoration: none;
        color: #456c7f;
        background: transparent;
        border: 0;
        transform: skewX(-14deg);
        padding: 0 15px;
        &:hover{
          text-decoration: none;
          color: #f14800;
        }
        i{
          transform: skewX(14deg);
        }
      }

      @media (max-width: $md) {
        font-size: .9rem;
        position: inherit;
      }

      .dropdown-menu {
        right: 8px;
        left: auto !important;
        top: 10px !important;
        width: 24rem;
        max-width: none;
        .search-list {
          max-height: 30rem;
          overflow-y: auto;
          overflow-x: hidden;
          min-height: 0;
          transition: all .2s linear;
          position: relative;
          b {
            padding: 0 15px;
            font-size: 15px;
         }

          &.loading{
            min-height: 30px;

            // &:before{
            //   display: none;
            // }
            &:after{
              width: 1rem;
              height: 1rem;
              margin: -10px 0 0 -10px;
            }
          }
          &::-webkit-scrollbar {
            height: 0.4rem;
            background-color: rgba(0, 0, 0, 0.02);
            border-radius: 1rem;
          }
        
          &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
          }
        
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #00000021;
            &:hover {
              background: #00000056;
            }
          }
        }

        .dropdown-form {
          margin: 0.5rem 0.5rem 0.1rem;
          position: relative;
          .form-control {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
            border-color: hsla(0, 0%, 100%, 0.2);
          }
          .dropdown-form::after {
            content: "\f11c";
            position: absolute;
            right: 0.6rem;
            top: 0.1rem;
            font-family: $ico;
            font-weight: 700;
            font-size: 0.9rem;
          }
        }
        .btnd {
          text-align: center;
          padding: 1rem 0;
        }
      }
    }

    .twolines {
      text-align: center;
      line-height: 0.8rem;

      // &.dropdown-toggle:after {
      // }

      b {
        display: block;
      }
    }

    .loglink,
    .reglink {
      line-height: 1.4rem;
    }

    .link {
      font-size: 0.75rem;
      font-weight: 600;
      color: $link2;
      background: #0f1f30;
      padding: 0.4rem 0.7rem;
      transform: skewX(-14deg);
      display: inline-block;
      vertical-align: middle;
      margin: 0 -0.1rem;
      height: 2.4rem;
      border-left: 1px solid #252c53;

      @media (max-width: $md) {
        font-size: 0.7rem;
        padding: 0.4rem 0.4rem;
      }

      > span {
        transform: skewX(14deg);
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        color: #f14800;
        background: #192b41;
        text-decoration: none;
      }
    }

    .s-games {
      display: inline-block;

      .twolines {
        text-align: right;
      }

      .btnd {
        text-align: center;
        padding: 1rem 0;
      }

      .dropdown {
        .dropdown-menu {
          right: 3px;
          width: 15rem;

          .dropdown-item {
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            opacity: 0.6;
            text-transform: none;
            padding-right: 0.5rem;
            transition: $tease;

            &.active {
              opacity: 1;
            }

            &:hover {
              cursor: pointer;
              opacity: 1;
            }

            .gl {
              margin: 0 0.6rem 0 -0.4rem;
              font-size: 0.9rem;
              line-height: 1.1rem;
              min-width: 1rem;
              text-align: center;
            }
          }
        }
      }

      .custom-switch {
        padding-left: 0;
        flex-grow: 1;
        min-height: 1.3rem;
        line-height: 1.3rem;

        &:hover {
          cursor: pointer;
        }

        input[checked="true"] + label {
          color: $select-sub;
        }

        .custom-control-label {
          padding-left: 0;
          padding-right: 2.25rem;
          display: block;

          &:before {
            left: auto;
            right: 0;
            top: 0.15rem;
          }

          &:after {
            right: calc(0.75rem + 2px);
            top: calc(0.15rem + 2px);
            left: auto;
          }
        }
      }
    }

    .loglink {
      background: $select;
      color: #6a2000;
      margin-right: 0.3rem;
      display: inline-flex;
      align-items: center;
      padding-right: 1rem;
      margin-right: -0.5rem;
      &:hover {
        background: #cc3d00;
        color: #fff;
      }
      @media (max-width: $md) {
        padding-right: 1rem;
        margin-right: -0.5rem;
      }
    }

    .dropdown{
      &.show{
        > a{
          color: $select;
          background: #304661;
        }
      }
    }

    .dropdown-menu {
      right: -0.3rem;
    }

  }
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active {
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer !important;
}

.custom-control-label:hover {
  cursor: pointer;
}

//mobile menu
@media (max-width: 992px) {
  header {
    .navbar.navbar-dark {
      .navbar-collapse {
        background: #1b242dd1;
      }
      .mainMenu {
        margin: 0;
        padding: 0 0.5rem;
        & > .nav-item > .nav-link {
          padding: 0.5rem 0.5rem 0 0.5rem;
        }
      }

      .mr-auto {
        padding: 0.2rem 1rem;
        border-top: 1px solid;
        margin-top: 0.2rem;
        .nav-item {
          display: inline-block;
          .nav-link {
            padding: 0.2rem 0;
            font-size: 0.8rem;
          }
        }
      }

      .dropdown .dropdown-menu.show {
        border-top: 0;
        margin-bottom: 1rem;
        right: 2px !important;
        left: 0px !important;
        width: auto !important;
        max-width: none;
        border-radius: 0;
      }
    }
  }
}
@media (max-width: $md) {
html header .navbar.navbar-dark .dropdown.userMenu .dropdown-menu {
  left: inherit!important;
  right: 0!important;
}
}
.userMenu {
  display: inline-block;

  .sub {
    background: $select;
    picture {
      transform: skewX(14deg);
      display: inline-block;
      //border: 1px solid $select;
      //border-radius: 50%;
      img,
      svg {
        width: 1.5rem;
        max-width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        fill: $select;
      }
    }
    span{
      background: #f14900;
      color: #192b41;
      width: 16px;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
      border-radius: 50%;
      position: absolute;
      left: 6px;
      bottom: 5px;
    }
    &:after{
      margin-top: .7rem;
    }
    &:hover {
      picture {
        border-color: #fff;
        // svg {
        //   fill: #fff;
        // }
      }
    }
  }
  .dropdown-menu.dropdown-menu-right {
    right: .15rem !important;
  }
  a.dropdown-item i {
    margin: 0 8px 0 -9px;
    font-size: 14px;
    position: relative;
    top: 1px;
    min-width: 16px;
  }
}

a.dropdown-item {
  cursor: pointer !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  .dropdown-menu {
    .nav {
      margin: 0.4rem 0.8rem 0.5rem;
      .nav-item {
        margin: 0 0.1rem;
        .nav-link {
          padding: 0.2rem 0.3rem;
          font-size: 0.74rem;
          line-height: 1;
          border-radius: 0.1rem;

          &:hover,
          &.active {
            background: $select;
            color: $select-sub !important;
          }
        }
      }
    }
    .views {
      white-space: nowrap;
      text-align: right;
    }
    .search-list {
      * {
        color: #fff;
      }
      .frow {
        display: flex;
        align-items: center;
        min-height: 34px;
      }
      .dropdown-item {
        display: flex;
        padding: 0.3rem 0.8rem !important;
        align-items: center;
      }
      .sicon {
        align-self: center;
        width: 1.6rem;
        text-align: right;
      }
      .video-full .article {
        font-size: 0.67rem;
      }
      .date {
        width: 3rem;
        flex-basis: 3rem;
        min-width: 3rem;
        font-size: 0.6rem;
      }
      .event-item {
        picture {
          margin-right: 0.3rem;
        }
        b {
          color: #fff;
        }
        .date {
          width: 5rem;
          flex-basis: 5rem;
        }
      }
      .media-body {
        i {
          opacity: 0.8;
          font-size: 0.6rem;
          font-style: normal;
        }
      }
    }
    .matches .article {
      background: transparent;
      padding: 0;
      .time {
        width: 5rem;
        font-size: 0.6rem;
      }
      .tour {
        width: 2rem;
      }
    }
    .teams span b {
      font-weight: 700 !important;
      color: #fff !important;
    }
  }
}

.search-list {
  > a {
    display: flex;
    white-space: normal;
    line-height: 0.8rem;
    .gl {
      margin: 0 0.6rem 0 0.1rem;
    }
    .flag {
      margin: 0 0.2rem 0 0.15rem;
    }
  }
  .article.frow {
    padding: 0;
    align-items: center;
    display: flex;
  }
  .media-body u {
    color: #d8d8d8;
    text-decoration: none;
    position: relative;
    font-size: 0.6rem;
    &:before {
      content: "\f27a";
      font-family: $ico;
      margin: 0 0.3rem;
      font-weight: 700;
      color: #649cb4;
      position: relative;
      top: 1px;
    }
  }
  .video-full .article picture {
    margin-left: 0;
  }
  .matches .article:nth-child(2n + 1),
  .matches .flex-table > article:nth-child(2n + 1) {
    background: transparent;
  }
  .search-item {
    min-height: 2rem;
    font-size: 0.7rem;
    padding: 0.4rem 0.2rem;
    display: flex;
    align-content: center;
    align-items: center;
    color: $mainFontColor;

    &:nth-child(2n + 1) {
      background: #f3f4f8;
    }
    .sicon {
      width: 2rem;
      text-align: center;
    }
    &.nb {
      i {
        position: relative;
        top: auto;
        padding: 0 0.3rem;
        &.sct {
          max-width: none;
          width: auto;
          flex-basis: 3rem;
        }
      }
      div {
        display: flex;
      }
    }
    &.match-item .article {
      padding: 0;
      min-height: 1.5rem;
    }
  }
  .playerName,
  .teamNameIco,
  .tourNemaIco,
  .media-body,
  .frow {
    flex-grow: 1;
  }
}

.nav-pills {
  margin-bottom: 1rem;

  .nav-link {
    border-radius: 0.1rem;
    line-height: 1rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem;
  }
}

.sidebar {
  .navbar-nav {
    padding: 0.8rem 1rem 0.5rem;
    .nav-item {
      .nav-link {
        font-size: 0.8rem;
        color: #7faec3;
        text-transform: uppercase;
        display: block;
        position: relative;
        font-weight: 700;
        padding: 0.3rem 0;
        &:hover {
          color: $select;
        }
      }
    }
    &.mr-auto {
      margin-right: auto !important;
      border-top: 1px solid #649cb4;
      border-bottom: 1px solid #649cb4;

      .nav-item {
        display: none;
        &.dropdown {
          display: block;
          .dropdown-toggle {
            color: $select;
          }
        }
      }
    }
  }
  .dropdown-menu {
    background: #0f1f30;
    padding: 0.3rem 0.7rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    position: absolute;

    .dropdown-item {
      font-size: 0.8rem;
    }
  }
  .newsHero {
    margin: 0 1rem;
  }
  .newsHero .n-body .n-title{
    .n-tags .gtag {
      color: #7ca6c1;
    }
    >a {
      color: inherit;
      font-weight: 500;
      font-size: .7rem;
    }
  }
}
