.card-poll {
    font-size: 13px;
    line-height: 16px;
    background: #f7f7fa;
    border: 0;
    margin-bottom: 25px;

    &.poll-white{
        background: #fff;
        border: 1px solid rgb(235, 235, 235);
    }

    .checkbox label,
    .radio label {
        margin-bottom: 0;
        cursor: pointer;
    }

    .list-group-item{
        background: transparent
    }
    .list-group-flush input {
        margin-right: 10px;
        position: relative;
        top: 2px;
    }

    .list-group-flush .list-group-item {
        border-bottom: 0;
        border-top: 0;
    }
    .survey-footer {
        margin: 10px 24px 15px;
    }
    .list-group-item {
        padding: .5rem 1.25rem;
    }
    .progress {
        margin-top: 5px;
    }
    .card-body {
        padding: 1.25rem 1.25rem .2rem 1.25rem;
        background: transparent
    }
}
