<!DOCTYPE html>
<html>

{% set title = "404 error - Page not found" %}
{#{% include "./tpl/head.html" %}#}

<body class="thereGoingSomethingStrange">
  {#{% include "./tpl/bar.html" %}#}
  
  <div class="error-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12 ">
                  <div class="error-text">
                      <h1 class="error">404 Error</h1>
                      <div class="im-sheep">
                          <div class="top">
                              <div class="body"></div>
                              <div class="head">
                                  <div class="im-eye one"></div>
                                  <div class="im-eye two"></div>
                                  <div class="im-ear one"></div>
                                  <div class="im-ear two"></div>
                              </div>
                          </div>
                          <div class="im-legs">
                              <div class="im-leg"></div>
                              <div class="im-leg"></div>
                              <div class="im-leg"></div>
                              <div class="im-leg"></div>
                          </div>
                      </div>
                      <h4>Oops! Мы не можем найти эту страницу!</h4>
                      <p>Скорее всего ее съели, или использовали или ее никогда не было.</p>
                      <a href="/" class="btn btn-default btn-round">Пойдем домой!</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="background-wrap">
      <div class="x1">
          <div class="cloud"></div>
      </div>
  
      <div class="x2">
          <div class="cloud"></div>
      </div>
  
      <div class="x3">
          <div class="cloud"></div>
      </div>
  
      <div class="x4">
          <div class="cloud"></div>
      </div>
  
      <div class="x5">
          <div class="cloud"></div>
      </div>
  </div>

  
{#{% include "./tpl/modal.html" %}#}
{% include "./tpl/devmenu.html" %}

</body>
</html>