{% set title = "Page Name" %}
{% set user = ["Progamer", "BananaUser", "GromiK", "Drax", "kleale", "Bonus", "Gamover"] %}
{% set game = ["DOTA2", "CSGO", "LOL", "HEARTSTONE", "Overwatch", "Fortnite"] %}
{% set team = ["Movistar Riders", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI", "KG", "Virtus.Pro"] %}
{% set teamlogo = ["team1", "team2", "team3", "team4", "team5"] %}
{% set tourlogo = ["tour1", "tour2", "tour3", "tour4"] %}
{% set gamelogo = ["dota2", "csgo", "lol", "hs", "ow", "fn", "pubg", "rl", "artifact", "rs", "sc2"] %}
{% set tour = ["Overwatch Contenders 2019", "Kuala-Lumpur Major 2019", "LCK 2019 Spring", "Dream League 2019" ] %}
{% set num = ["1", "21", "34", "14", "3", "11", "7"] %}
{% set news = [" Менеджер проектов StarLadder: «Miracle получил визу, но не полетел в Китай
из-за личных обстоятельств»", "Virtus.pro вылетела с квалификации на европейский майнор IEM Katowice Major без 
единой", "Нелепый отбор на майнор, читы, которых не было и другие новости утра", "Singularity и Kingdra прошли в закрытую европейскую квалификацию на Dota Pit Minor", "Winstrike и Pavaga Junior прошли в закрытую квалификацию на Dota Pit Minor", "Sayuw: «Стало легче играть с приходом Рината»", "Bafik про Na`Vi: «Когда я такие условия вижу, у меня возникает вопрос: почкму я не 
вижу результаты?»"] %}
{% set date = ["1 января", "сегодня"] %}
{% set flag = ["flag1", "flag2", "flag3"] %}
{% set country = ["Россия", "США", "Китай", "Европа", "Корея"] %}
{% set com = ["С каких пор друид меняет атаку с ближней на дальнюю? выход с ульты это считается как с ближней на дальнюю? если да то почему, не считаете...", "Не понятно за что досталось дикому росту. Карта адекватна своей стоимости. Могли бы убрать взять карту после 10 кристаллов маны и оставить стоимость. А так нерф карты убывает почти все архетипы друида...", "Миллиард процентов 322 !
Вчера выйграть инферно против ldlc ,обыграв их НА ПИКЕ ПРОТИВНИКИОВ со счетом 16-4,сегодня обыграть противников на их пике 16-4 и просрать инферно. ну-ну", "Рофло турик", "легкая для гамбит 2-0", "легкая для Team X, по прошлым играм."] %}

<!DOCTYPE html>
<html>
{% include "./tpl/head.html" %}

<body class="">
  <div class="wrap">
    {% include "./tpl/aside.html" %}
    <main class="tours-page">
      <div class="container">
        <!--d-flex-->
        <div class="row">
          <div class="center col-lg-7 col-xl-8">
            <div id="mobile-filter-holder"></div>


            {% include "./tpl/tourPage/toursList.html" %}
            <!--переверстал на таблицу-->
            <br><br>

            <table class="table table-hover table-striped table-sm tours-tbl">
              <thead>
                <tr>
                  <th scope="col" class="">
                    <div class="dropdown sorter">
                      <a href="#" class="down" data-toggle="dropdown"></a>
                        <div class="dropdown-menu ddm-small" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">По возрастанию <i class="fa fa-chevron-up"></i></a>
                          <a class="dropdown-item" href="#">По убыванию <i class="fa fa-chevron-down"></i></a>
                          <a class="dropdown-item" href="#">Сбросить <i class="fa fa-times"></i></a>
                        </div>
                      </div>
                  </th>
                  <th scope="col" class="tms"></th>
                  <th scope="col"></th>
                  <th scope="col" class="money text-right">
                    <a href="#" class="down">приз</a>
                    <a href="#" class="dropsort fa fa-times"></a>
                  </th>
                  <th scope="col" class="lstgm">
                    <div class="dropdown sorter">
                      <a href="#" class="down" data-toggle="dropdown">DPC</a>
                      <div class="dropdown-menu ddm-small" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">По возрастанию <i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-item" href="#">По убыванию <i class="fa fa-chevron-down"></i></a>
                        <a class="dropdown-item" href="#">Сбросить <i class="fa fa-times"></i></a>
                      </div>
                    </div>
                  
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for i in 1..5 %}
                <tr class="{% if i == 2 %} type1 {% endif %}{% if i == 3 %} type2 {% endif %}{% if i == 4 %} type3 {% endif %}{% if i == 5 %} active{% endif %}">
                  <td
                    class="place1 tplc{% if i == 1 %} pl1{% endif %}{% if i == 2 %} pl2{% endif %}{% if i == 3 %} pl3{% endif %}">
                    {% if i < 4 %}
                    {{i}}
                    {% else %}
                    -
                    {% endif %}
                  </td>
                  <td>
                    <a href="#">{{random(tour)}}</a>
                  </td>
                  <td>
                    <div class="matches">
                      <a class="article" href="#">
                        <div class="teams">
                          <div class="score">
                            <span class="type2">1 : 2</span>
                          </div>
                          <span>
                            <picture class="logo">
                              <source type="image/webp" srcset="../img/dummy/{{random(teamlogo)}}.png">
                              <img src="./img/dummy/{{random(teamlogo)}}.png" alt="">
                            </picture>
                            <b>{{random(team)}}</b>
                          </span>
                        </div>
                      </a>
                    </div>
                  </td>
                  <td class="datetd">
                    <i class="date">
                      <span class="sct" data-format="%j% %m% %y%" datetime="2019-04-21 06:00:00">21 апреля</span>
                      <span class="scm" data-nsrt="1" data-value="$35000">$35,000</span>
                    </i>
                  </td>
                  <td class="tourlogo">
                    <a href="" class="tourNemaIco">
                      <picture class="logo">
                        <source type="image/webp" srcset="../img/dummy/{{random(tourlogo)}}.png">
                        <img src="./img/dummy/{{random(tourlogo)}}.png" alt="">
                      </picture>
                    </a>
                  </td>
                  <!-- <td>$ {{i}},7М</td>
                  <td>{{i}}д</td> -->
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% include "./tpl/pager.html" %}

            <a href="" class="btn720">
              <img src="../img/dummy/b720.png" alt="">
            </a>
            {% include "./tpl/tourPage/newsCards.html" %}

            <div class="bottom-text">
              Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа
              соответствующий условий активизации. Не следует, однако забывать, что дальнейшее развитие различных форм
              деятельности позволяет выполнять важные задания по разработке форм развития. Повседневная практика
              показывает, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации форм
              развития. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют
              от нас анализа модели развития. Таким образом рамки и место обучения кадров в значительной степени
              обуславливает создание дальнейших направлений развития.
            </div>
          </div>
          <div class="rcol col-lg-5 col-xl-4">
            {% include "./tpl/tourPage/rightcol.html" %}
          </div>
        </div>
      </div>
    </main>
  </div>

  {% include "./tpl/footer.html" %}

  {#{% include "./tpl/leftcolumn.html" %}#}
  {% include "./tpl/bar.html" %}

  {#{% include "./tpl/branding.html" %}#}
  {#{% include "./tpl/modal.html" %}#}

  {% include "./tpl/devmenu.html" %}

</body>

</html>