<style>
    .tours .frow picture {
        margin-right: .5rem;
    }

    .tours .frow u {
        margin: 0 .3rem;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="hblock">
    <h1>Турниры</h1><b></b>
</div>
{% set city = ["Shanghai", "New York", "Kuala-Lumpur", "LasVegas"] %}
{% set arena = ["Super Arena", "OilBest stadium", "Arena Star", "PixelCLub place", "Arsenal Arena"] %}
<section class="tours">
    <div class="flex-table table-lg">
        <div class="hblock" style="margin-top:0">
            <h2>Будущие турниры</h2><b></b>
        </div>
        {% for i in 0..3 %}
        <div class="frow m-result {% if i == 3 %} type3{% endif %}">
            <span class="tplc pl">–</span>
            <b class="active"><a href="#">The International 2019</a></b>
            <s>
            </s>
            <i class="date">
            </i>
            <picture class="tourlogo">
                <source type="image/webp" srcset="../img/dummy/{{random(tourlogo)}}.png">
                <img src="./img/dummy/{{random(tourlogo)}}.png" alt="">
            </picture>
            <div></div>
        </div>
        {% endfor %}

        <div class="hblock">
            <h2>Текущие турниры</h2><b></b>
        </div>

        {% for i in 0..3 %}

        <a class="frow type2" data-test-id="events-item-2" href="/ru/pubg/pgs-2026-circuit-4-series-1">
            <picture>
                <source type="image/webp" srcset="./img/dummy/{{random(tourlogo)}}.png">
                <img src="./img/dummy/{{random(tourlogo)}}.png" alt="">
            </picture>
            <b class="active">
                {{random(tour)}}
                {% if i == 0 %}
                <span class="tt" title="LAN - Shanghai Oriental Sports Center"
                    style="background: #a03763;display: inline-block;padding: 1px 2px;color: #fff;text-transform: uppercase;transform: skewX(-6deg);font-size: 10px;">lan</span>
                {% endif %}
            </b>
            <s style="flex-basis: auto; flex-grow: 1;display: flex;">
                {% if i == 0 %}
                <style>
                    .stadium {
                        display: flex;
                        flex-direction: column;
                        font-size: 10px;
                        color: #777;
                    }
                    @media (max-width: 768px) {
                        .tours .frow b{
                            white-space: normal;
                        }
                        .stadiumFlag {
                            display: none;
                        }
                        .stadium b{
                            font-size: 11px;
                        }
                    }
                </style>
                <img class="stadiumFlag" src="./img/dummy/{{random(flag)}}.png">
                <div class="stadium"><b>{{random(city)}}</b><span>{{random(arena)}}<span></div>
                {% endif %}
            </s>
            <i class="date">
                <span class="sct" data-format="" datetime="2026-10-14 - 0000-00-00">14 октября</span>
                <span class="scm" data-nsrt="1" data-value="$100000">$100,000</span>
            </i>
            <u class="gl gl100"></u>
        </a>


        {% endfor %}

        <div class="hblock">
            <h2>Прошедшие турниры</h2><b></b>
        </div>

        {% for i in 0..10 %}
        <a class="frow{% if i == 5 %} active{% endif %} {% if i == 1 %} type1{% endif %}{% if i == 2 %} type2{% endif %}{% if i == 3 %} type3{% endif %}"
            href="#">
            <!-- <u class="gl {{random(gamelogo)}}"></u> -->
            <picture>
                <source type="image/webp" srcset="../img/dummy/{{random(teamlogo)}}.png">
                <img src="./img/dummy/{{random(teamlogo)}}.png" alt="">
            </picture>
            <b class="active">{{random(tour)}}</b>
            <!-- <s><img src="../img/dummy/{{random(flag)}}.png" alt="">{{random(city)}}</s> -->
            <i class="date">
                <span>7 - 17 дек, 2019</span>
                <span>$ 1,400,000</span>
            </i>
            <u class="gl {{random(gamelogo)}}"></u>
            <!-- <picture>
                <source type="image/webp" srcset="../img/dummy/{{random(teamlogo)}}.png">
                <img src="./img/dummy/{{random(teamlogo)}}.png" alt="">
            </picture> -->
        </a>
        {% endfor %}
    </div>
</section>