<style>
    .tours .frow picture {
        margin-right: .5rem;
    }

    .tours .frow u {
        margin: 0 .3rem;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="hblock">
    <h1>Турниры</h1><b></b>
</div>
{% set city = ["Сан-Франциско", "Москва", "Пекин", "Владивосток", "село Кукуево"] %}
<section class="tours">
    <div class="flex-table table-lg">
        <div class="hblock" style="margin-top:0">
            <h2>Будущие турниры</h2><b></b>
        </div>
        {% for i in 0..3 %}
        <div class="frow m-result {% if i == 3 %} type3{% endif %}">
            <span class="tplc pl">–</span>
            <b class="active"><a href="#">The International 2019</a></b>
            <s>
            </s>
            <i class="date">
            </i>
            <picture class="tourlogo">
                <source type="image/webp" srcset="../img/dummy/{{random(tourlogo)}}.png">
                <img src="./img/dummy/{{random(tourlogo)}}.png" alt="">
            </picture>
            <div></div>
        </div>
        {% endfor %}

        <div class="hblock">
            <h2>Текущие турниры</h2><b></b>
        </div>

        {% for i in 0..3 %}
        <div class="frow m-result type1">
            <span class="tplc pl3">3</span>
            <b class="active"><a href="#"></a>Adrenaline Cyber League 2019</a></b>
            <s>
                <div class="matches">
                    <a class="article" href="/ru/dota-2/adrenaline-cyber-league-2019/finals/navi-vs-virtus-pro-213665">
                        <div class="teams">

                            {% if i == 0 %}
                            <svg class="tt" title="Lan tournament" fill="#777777" height="25px" width="25px" version="1.1" id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 512 512" xml:space="preserve">
                                <g>
                                    <path d="M462.657,137.343C430.837,105.524,388.698,88,344,88H168c-44.698,0-86.837,17.524-118.657,49.343S0,211.302,0,256
		s17.524,86.837,49.343,118.657S123.302,424,168,424h176c44.698,0,86.837-17.524,118.657-49.343S512,300.698,512,256
		S494.476,169.163,462.657,137.343z M451.343,363.343C422.546,392.141,384.424,408,344,408H168
		c-40.424,0-78.546-15.859-107.343-44.657S16,296.424,16,256s15.859-78.546,44.657-107.343S127.576,104,168,104h176
		c40.424,0,78.546,15.859,107.343,44.657S496,215.576,496,256S480.141,334.546,451.343,363.343z" />
                                    <path d="M120,152c-13.234,0-24,10.766-24,24v160c0,13.234,10.766,24,24,24h272c13.234,0,24-10.766,24-24V176
		c0-13.234-10.766-24-24-24H120z M248,295.195c-18.236-3.716-32-19.878-32-39.195s13.764-35.479,32-39.195V295.195z M264,216.805
		c18.236,3.716,32,19.878,32,39.195s-13.764,35.479-32,39.195V216.805z M112,216h32v80h-32V216z M112,336v-24h40
		c4.418,0,8-3.582,8-8v-96c0-4.418-3.582-8-8-8h-40v-24c0-4.411,3.589-8,8-8h128v32.581c-27.101,3.895-48,27.258-48,55.419
		s20.899,51.525,48,55.419V344H120C115.589,344,112,340.411,112,336z M400,296h-32v-80h32V296z M400,176v24h-40
		c-4.418,0-8,3.582-8,8v96c0,4.418,3.582,8,8,8h40v24c0,4.411-3.589,8-8,8H264v-32.581c27.101-3.895,48-27.258,48-55.419
		s-20.899-51.525-48-55.419V168h128C396.411,168,400,171.589,400,176z" />
                                    <path d="M419.278,152.536c5.404,3.944,10.542,8.346,15.271,13.083c1.563,1.566,3.612,2.349,5.662,2.349
		c2.045,0,4.09-0.779,5.652-2.338c3.127-3.122,3.131-8.187,0.01-11.314c-5.315-5.324-11.089-10.271-17.164-14.705
		c-3.57-2.604-8.573-1.823-11.178,1.747C414.927,144.927,415.709,149.931,419.278,152.536z" />
                                    <path
                                        d="M466.142,179.793c-2.344-3.744-7.28-4.88-11.026-2.536c-3.745,2.344-4.88,7.281-2.536,11.026
		C465.285,208.577,472,231.993,472,256c0,70.58-57.42,128-128,128H168c-70.58,0-128-57.42-128-128s57.42-128,128-128h176
		c17.267,0,34.026,3.395,49.812,10.09c0.495,0.21,0.988,0.423,1.48,0.639c4.045,1.774,8.765-0.066,10.54-4.112
		c1.775-4.046-0.066-8.765-4.112-10.54c-0.552-0.242-1.105-0.481-1.661-0.716C382.287,115.822,363.426,112,344,112H168
		c-79.402,0-144,64.598-144,144s64.598,144,144,144h176c79.402,0,144-64.598,144-144C488,228.986,480.441,202.634,466.142,179.793z" />
                                </g>
                            </svg>

                            {% elseif i == 1 %}
                            <svg class="tt" title="Lan tournament" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#777777" stroke-width="1.25" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-building-stadium">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 12a8 2 0 1 0 16 0a8 2 0 1 0 -16 0" />
                                <path d="M4 12v7c0 .94 2.51 1.785 6 2v-3h4v3c3.435 -.225 6 -1.07 6 -2v-7" />
                                <path d="M15 6h4v-3h-4v7" />
                                <path d="M7 6h4v-3h-4v7" />
                            </svg>

                            {% elseif i == 2 %}

                            <span class="tt" title="Lan tournament"
                                style="background: #3764a0;display: block;width: 30px;text-align: center;padding: 1px 2px;color: #fff;text-transform: uppercase;transform: skewX(-6deg);">lan</span>

                            {% elseif i == 3 %}

                            <svg class="tt" title="Lan tournament" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#777777" stroke-width="1.25" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-timezone">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M20.884 10.554a9 9 0 1 0 -10.337 10.328" />
                                <path d="M3.6 9h16.8" />
                                <path d="M3.6 15h6.9" />
                                <path d="M11.5 3a17 17 0 0 0 -1.502 14.954" />
                                <path d="M12.5 3a17 17 0 0 1 2.52 7.603" />
                                <path d="M14 18a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                                <path d="M18 16.5v1.5l.5 .5" />
                            </svg>
                        
                            <!-- <div class="score">
                                <span class="type2">1 : 2</span>
                            </div>
                            <span>
                                 -->
                            <!-- <picture>
                                <source type="image/webp" srcset="./img/dummy/{{random(teamlogo)}}.png">
                                <img src="./img/dummy/{{random(teamlogo)}}.png" alt="">
                            </picture>
                            <b>VP</b> -->
                            {% endif %}

                            </span>
                        </div>
                    </a>
                </div>
            </s>
            <i class="date">
                <span class="sct" data-format="%j% %m% %y%" datetime="2019-05-25 15:41:00">25 мая</span>
                <span class="scm" data-nsrt="1" data-value="$5000">$5,000</span>
            </i>
            <picture class="tourlogo">
                <source type="image/webp" srcset="./img/dummy/{{random(tourlogo)}}.png">
                <img src="./img/dummy/{{random(tourlogo)}}.png" alt="">
            </picture>
        </div>
        {% endfor %}

        <div class="hblock">
            <h2>Прошедшие турниры</h2><b></b>
        </div>

        {% for i in 0..10 %}
        <a class="frow{% if i == 5 %} active{% endif %} {% if i == 1 %} type1{% endif %}{% if i == 2 %} type2{% endif %}{% if i == 3 %} type3{% endif %}"
            href="#">
            <!-- <u class="gl {{random(gamelogo)}}"></u> -->
            <picture>
                <source type="image/webp" srcset="../img/dummy/{{random(teamlogo)}}.png">
                <img src="./img/dummy/{{random(teamlogo)}}.png" alt="">
            </picture>
            <b class="active">{{random(tour)}}</b>
            <!-- <s><img src="../img/dummy/{{random(flag)}}.png" alt="">{{random(city)}}</s> -->
            <i class="date">
                <span>7 - 17 дек, 2019</span>
                <span>$ 1,400,000</span>
            </i>
            <u class="gl {{random(gamelogo)}}"></u>
            <!-- <picture>
                <source type="image/webp" srcset="../img/dummy/{{random(teamlogo)}}.png">
                <img src="./img/dummy/{{random(teamlogo)}}.png" alt="">
            </picture> -->
        </a>
        {% endfor %}
    </div>
</section>